site_name: wan0ri Note
site_description: 個人用テックノート
site_url: https://wan0ri.github.io/note/
site_author: wan0ri

theme:
  name: material
  language: ja
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.path
    - navigation.expand
    - navigation.top
    - navigation.footer
    - content.code.copy
    - content.code.annotate
    - content.action.edit
    - content.action.view
    - content.tabs.link
    - toc.follow
  palette:
    - scheme: default
      primary: blue
      accent: indigo
      toggle:
        icon: material/weather-night
        name: ダークモード
    - scheme: slate
      primary: blue
      accent: indigo
      toggle:
        icon: material/weather-sunny
        name: ライトモード
  icon:
    logo: material/notebook
    repo: fontawesome/brands/github

repo_url: https://github.com/wan0ri/note
repo_name: wan0ri/note
edit_uri: edit/main/docs/

markdown_extensions:
  - admonition
  - toc:
      permalink: true
  - abbr
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - tables
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search
  - glightbox
  - redirects
  - git-revision-date-localized:
      fallback_to_build_date: true
      locale: ja

extra:
  generator: false
  social:
    - icon: material/github
      link: https://github.com/wan0ri
      name: GitHub
  consent:
    actions:
      - accept
      - manage
    description: 本サイトでは利便性向上のため設定を保存します。

extra_css:
  - stylesheets/extra.css

nav:
  - Home: index.md
  - Getting Started: getting-started.md
  - Language:
      - language/index.md
      - Python: language/python.md
  - Infra:
      - infra/index.md
      - Docker: infra/docker.md
  - Tools:
      - tools/index.md
      - Git: tools/git.md
